<a href="https://colab.research.google.com/github/rromerov/Machine-Learning-Projects/blob/main/Credit_Card_Model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [27]:
import pandas as pd
from sklearn.model_selection import train_test_split

Load the data and replace the column names from German to English as indicated on the UCI page.

In [28]:
file="https://raw.githubusercontent.com/rromerov/Machine-Learning-Projects/main/SouthGermanCredit.asc"
credit=pd.read_table(file,sep=" ")

In [29]:
credit.head()

,laufkont,laufzeit,moral,verw,hoehe,sparkont,beszeit,rate,famges,buerge,...,verm,alter,weitkred,wohn,bishkred,beruf,pers,telef,gastarb,kredit
0,1,18,4,2,1049,1,2,4,2,1,...,2,21,3,1,1,3,2,1,2,1
1,1,9,4,0,2799,1,3,2,3,1,...,1,36,3,1,2,3,1,1,2,1
2,2,12,2,9,841,2,4,2,2,1,...,1,23,3,1,1,2,2,1,2,1
3,1,12,4,0,2122,1,3,3,3,1,...,1,39,3,1,2,2,1,1,1,1
4,1,12,4,0,2171,1,3,4,3,1,...,2,38,1,2,2,2,2,1,1,1

In [48]:
columns_name=["status","duration","credit_history","purpose","amount","savings","employment_duration","installment_rate","personalstatussex","other_debtors","president_residence","property","age","otherinstallmentplans","housing","number_credits","job","people_liable","telephone","foreign_worker","target column"]
credit.columns=columns_name

In [53]:
for i in credit.columns:
  unique_values_per_column=credit[i].unique()
  sorted_values=sorted(unique_values_per_column)
  print(i, sorted_values)

status [1, 2, 3, 4]
duration [4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 18, 20, 21, 22, 24, 26, 27, 28, 30, 33, 36, 39, 40, 42, 45, 47, 48, 54, 60, 72]
credit_history [0, 1, 2, 3, 4]
purpose [0, 1, 2, 3, 4, 5, 6, 8, 9, 10]
amount [250, 276, 338, 339, 343, 362, 368, 385, 392, 409, 426, 428, 433, 448, 454, 458, 484, 518, 522, 571, 585, 590, 601, 609, 618, 625, 626, 629, 639, 640, 652, 654, 660, 662, 666, 672, 674, 682, 683, 684, 685, 691, 697, 700, 701, 707, 708, 709, 713, 717, 719, 727, 730, 741, 745, 750, 753, 754, 759, 760, 763, 766, 776, 781, 783, 790, 795, 797, 802, 804, 806, 836, 841, 846, 860, 866, 874, 882, 884, 886, 888, 894, 900, 902, 907, 909, 915, 918, 926, 929, 930, 931, 932, 935, 936, 937, 939, 947, 950, 951, 958, 959, 960, 975, 976, 983, 996, 999, 1007, 1024, 1028, 1037, 1038, 1042, 1047, 1048, 1049, 1050, 1053, 1055, 1056, 1068, 1076, 1082, 1092, 1098, 1101, 1103, 1107, 1108, 1113, 1123, 1126, 1131, 1136, 1138, 1149, 1154, 1155, 1158, 1163, 1164, 1168, 1169, 1175, 1185, 1188, 1190, 1193, 1198, 1199, 1200, 1201, 1203, 1204, 1206, 1207, 1209, 1213, 1216, 1217, 1221, 1223, 1224, 1225, 1228, 1231, 1236, 1237, 1238, 1239, 1240, 1244, 1245, 1246, 1249, 1255, 1258, 1262, 1264, 1271, 1274, 1275, 1278, 1282, 1283, 1285, 1287, 1288, 1289, 1291, 1295, 1297, 1299, 1300, 1301, 1308, 1309, 1311, 1313, 1316, 1318, 1322, 1323, 1330, 1331, 1333, 1337, 1338, 1343, 1344, 1345, 1346, 1347, 1352, 1355, 1358, 1360, 1361, 1364, 1366, 1371, 1372, 1374, 1376, 1377, 1381, 1382, 1386, 1388, 1391, 1393, 1402, 1403, 1409, 1410, 1412, 1413, 1414, 1418, 1422, 1424, 1433, 1437, 1442, 1444, 1445, 1449, 1453, 1455, 1459, 1469, 1471, 1473, 1474, 1478, 1480, 1484, 1493, 1494, 1495, 1498, 1501, 1503, 1505, 1512, 1514, 1516, 1520, 1521, 1525, 1526, 1530, 1532, 1533, 1534, 1537, 1538, 1542, 1543, 1544, 1546, 1549, 1552, 1553, 1554, 1555, 1559, 1567, 1568, 1569, 1572, 1574, 1577, 1582, 1585, 1591, 1592, 1595, 1597, 1602, 1603, 1620, 1647, 1655, 1657, 1659, 1670, 1680, 1715, 1721, 1736, 1740, 1743, 1747, 1750, 1755, 1766, 1768, 1778, 1795, 1797, 1800, 1804, 1808, 1817, 1819, 1820, 1823, 1829, 1835, 1837, 1842, 1845, 1851, 1858, 1860, 1864, 1867, 1872, 1880, 1881, 1882, 1884, 1887, 1893, 1898, 1901, 1905, 1908, 1913, 1919, 1922, 1924, 1925, 1927, 1928, 1934, 1935, 1936, 1938, 1940, 1941, 1943, 1950, 1953, 1957, 1961, 1963, 1965, 1967, 1977, 1979, 1980, 1984, 1987, 1995, 2002, 2012, 2022, 2028, 2030, 2032, 2039, 2051, 2058, 2063, 2064, 2069, 2073, 2080, 2096, 2100, 2101, 2108, 2116, 2118, 2121, 2122, 2124, 2132, 2133, 2134, 2136, 2141, 2142, 2145, 2146, 2149, 2150, 2169, 2171, 2181, 2186, 2197, 2210, 2212, 2214, 2221, 2223, 2225, 2235, 2238, 2241, 2246, 2247, 2249, 2251, 2255, 2273, 2278, 2279, 2284, 2288, 2292, 2299, 2301, 2302, 2303, 2315, 2319, 2320, 2323, 2325, 2326, 2327, 2329, 2331, 2333, 2337, 2346, 2348, 2353, 2359, 2360, 2366, 2375, 2384, 2389, 2390, 2394, 2397, 2404, 2406, 2415, 2424, 2427, 2439, 2442, 2445, 2462, 2463, 2473, 2476, 2483, 2503, 2507, 2511, 2515, 2520, 2522, 2528, 2538, 2569, 2570, 2576, 2577, 2578, 2579, 2580, 2600, 2603, 2606, 2611, 2613, 2622, 2625, 2629, 2631, 2647, 2659, 2662, 2670, 2671, 2675, 2679, 2684, 2687, 2697, 2708, 2712, 2718, 2728, 2743, 2745, 2746, 2748, 2751, 2753, 2759, 2760, 2762, 2764, 2767, 2775, 2779, 2782, 2788, 2799, 2812, 2820, 2825, 2828, 2831, 2835, 2848, 2859, 2862, 2864, 2872, 2892, 2896, 2899, 2901, 2910, 2923, 2924, 2930, 2957, 2964, 2969, 2978, 2991, 2993, 2996, 3001, 3016, 3017, 3021, 3029, 3031, 3049, 3051, 3059, 3060, 3062, 3069, 3074, 3077, 3079, 3092, 3104, 3105, 3108, 3114, 3123, 3124, 3148, 3149, 3160, 3161, 3181, 3186, 3190, 3195, 3213, 3229, 3234, 3235, 3244, 3249, 3275, 3331, 3342, 3343, 3345, 3349, 3357, 3368, 3378, 3380, 3384, 3386, 3394, 3398, 3399, 3414, 3416, 3422, 3430, 3441, 3446, 3447, 3448, 3485, 3488, 3496, 3499, 3509, 3512, 3518, 3527, 3535, 3552, 3556, 3565, 3566, 3568, 3573, 3577, 3578, 3590, 3594, 3595, 3599, 3609, 3612, 3617, 3620, 3621, 3622, 3632, 3643, 3650, 3651, 3652, 3656, 3660, 3676, 3711, 3749, 3757, 3758, 3763, 3777, 3780, 3804, 3812, 3832, 3835, 3844, 3850, 3857, 3863, 3868, 3872, 3878, 3905, 3914, 3915, 3919, 3931, 3939, 3949, 3959, 3965, 3966, 3972, 3973, 3976, 3979, 3990, 4006, 4020, 4041, 4042, 4057, 4110, 4113, 4139, 4151, 4153, 4165, 4169, 4210, 4221, 4241, 4249, 4272, 4280, 4281, 4297, 4308, 4351, 4370, 4380, 4439, 4454, 4455, 4463, 4473, 4526, 4530, 4576, 4583, 4591, 4594, 4605, 4611, 4623, 4657, 4675, 4679, 4686, 4712, 4716, 4736, 4746, 4771, 4788, 4795, 4796, 4811, 4817, 4843, 4844, 4870, 4933, 5003, 5045, 5084, 5096, 5103, 5117, 5129, 5150, 5152, 5179, 5190, 5234, 5248, 5293, 5302, 5324, 5371, 5381, 5433, 5493, 5507, 5511, 5595, 5711, 5742, 5743, 5771, 5800, 5801, 5804, 5842, 5848, 5866, 5943, 5951, 5954, 5965, 5998, 6070, 6078, 6110, 6143, 6148, 6187, 6199, 6204, 6224, 6229, 6260, 6288, 6289, 6304, 6313, 6314, 6331, 6350, 6361, 6403, 6416, 6419, 6458, 6468, 6527, 6560, 6568, 6579, 6614, 6615, 6681, 6742, 6758, 6761, 6836, 6842, 6850, 6872, 6887, 6948, 6967, 6999, 7057, 7119, 7127, 7166, 7174, 7228, 7238, 7253, 7297, 7308, 7374, 7393, 7408, 7409, 7418, 7432, 7472, 7476, 7485, 7511, 7582, 7596, 7629, 7678, 7685, 7721, 7758, 7763, 7814, 7824, 7855, 7865, 7882, 7966, 7980, 8065, 8072, 8086, 8133, 8229, 8318, 8335, 8358, 8386, 8471, 8487, 8588, 8613, 8648, 8858, 8947, 8978, 9034, 9055, 9157, 9271, 9277, 9283, 9398, 9436, 9566, 9572, 9629, 9857, 9960, 10127, 10144, 10222, 10297, 10366, 10477, 10623, 10722, 10875, 10961, 10974, 11054, 11328, 11560, 11590, 11760, 11816, 11938, 11998, 12169, 12204, 12389, 12579, 12612, 12680, 12749, 12976, 13756, 14027, 14179, 14318, 14421, 14555, 14782, 14896, 15653, 15672, 15857, 15945, 18424]
savings [1, 2, 3, 4, 5]
employment_duration [1, 2, 3, 4, 5]
installment_rate [1, 2, 3, 4]
personalstatussex [1, 2, 3, 4]
other_debtors [1, 2, 3]
president_residence [1, 2, 3, 4]
property [1, 2, 3, 4]
age [19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 70, 74, 75]
otherinstallmentplans [1, 2, 3]
housing [1, 2, 3]
number_credits [1, 2, 3, 4]
job [1, 2, 3, 4]
people_liable [1, 2]
telephone [1, 2]
foreign_worker [1, 2]
target column [0, 1]

In [5]:
credit.head()

,status,duration,credit_history,purpose,amount,savings,employment_duration,installment_rate,personalstatussex,other_debtors,...,property,age,otherinstallmentplans,housing,number_credits,job,people_liable,telephone,foreign_worker,target column
0,1,18,4,2,1049,1,2,4,2,1,...,2,21,3,1,1,3,2,1,2,1
1,1,9,4,0,2799,1,3,2,3,1,...,1,36,3,1,2,3,1,1,2,1
2,2,12,2,9,841,2,4,2,2,1,...,1,23,3,1,1,2,2,1,2,1
3,1,12,4,0,2122,1,3,3,3,1,...,1,39,3,1,2,2,1,1,1,1
4,1,12,4,0,2171,1,3,4,3,1,...,2,38,1,2,2,2,2,1,1,1

Partition the data into the 85% training set and the 15% test set. The models will be trained with the cross-validation method, so it is not necessary at this step to generate the validation set. Define as the X variable all input variables and the Y variable as the output variable.

In [19]:
X=credit.iloc[:,0:-2]
y=credit.iloc[:,-1]

In [20]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.15,random_state=1)